@{
    ViewData["Title"] = "Sobre";
}

<h1>Projeto MVC</h1>
<h2>Global Interchange</h2>

<p>Projeto em MVC para demonstração de conhecimentos. <br /> <br />
    C#, MySQL, Orientação a Objetos, Entity Framework, ASP-NET Core, RazorPage</p>

<address>

</address>