@{
    ViewData["Title"] = "Contato";
}
<h2></h2>
<address>
    Global Interchange<br />
    São Paulo, Rua Catiguá - 03562-020<br />
    <abbr title="Phone">Cel:</abbr>
    (11)9 8773-0350
</address>

<address>
    <strong>Support:</strong> <a href="mailto:suporte01@globalinterchange.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:otavio.filipe@globalinterchange.com">Marketing@example.com</a>
</address>
